
<table class="tx-voices" >
	<tr>
		<td>
			<f:translate key="tx_voices_domain_model_konzert.datum" />
		</td>
		<td>
		{konzert.datum}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_voices_domain_model_konzert.beginn" />
		</td>
		<td>
		{konzert.beginn}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_voices_domain_model_konzert.place" />
		</td>
		<td>
		{konzert.place}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_voices_domain_model_konzert.address" />
		</td>
		<td>
		{konzert.address}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_voices_domain_model_konzert.remark" />
		</td>
		<td>
		{konzert.remark}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_voices_domain_model_konzert.leitung_r" />
		</td>
		<td>
		{konzert.leitungR}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_voices_domain_model_konzert.leitun_l" />
		</td>
		<td>
		{konzert.leitunL}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_voices_domain_model_konzert.zusagen" />
		</td>
		<td>
		{konzert.zusagen}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_voices_domain_model_konzert.absagen" />
		</td>
		<td>
		{konzert.absagen}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_voices_domain_model_konzert.vielleichts" />
		</td>
		<td>
		{konzert.vielleichts}
		</td>
	</tr>
</table>