
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Konzert</h1>

<f:flashMessages renderMode="div" />

<table  class="tx_voices" >
	<tr>
		<th><f:translate key="tx_voices_domain_model_konzert.datum" /></th>
		<th><f:translate key="tx_voices_domain_model_konzert.beginn" /></th>
		<th><f:translate key="tx_voices_domain_model_konzert.place" /></th>
		<th><f:translate key="tx_voices_domain_model_konzert.address" /></th>
		<th><f:translate key="tx_voices_domain_model_konzert.remark" /></th>
		<th><f:translate key="tx_voices_domain_model_konzert.leitung_r" /></th>
		<th><f:translate key="tx_voices_domain_model_konzert.leitun_l" /></th>
		<th><f:translate key="tx_voices_domain_model_konzert.zusagen" /></th>
		<th><f:translate key="tx_voices_domain_model_konzert.absagen" /></th>
		<th><f:translate key="tx_voices_domain_model_konzert.vielleichts" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{konzerts}" as="konzert">
		<tr>
			<td><f:link.action action="show" arguments="{konzert : konzert}"> {konzert.datum}</f:link.action></td>
			<td><f:link.action action="show" arguments="{konzert : konzert}"> {konzert.beginn}</f:link.action></td>
			<td><f:link.action action="show" arguments="{konzert : konzert}"> {konzert.place}</f:link.action></td>
			<td><f:link.action action="show" arguments="{konzert : konzert}"> {konzert.address}</f:link.action></td>
			<td><f:link.action action="show" arguments="{konzert : konzert}"> {konzert.remark}</f:link.action></td>
			<td><f:link.action action="show" arguments="{konzert : konzert}"> {konzert.leitungR}</f:link.action></td>
			<td><f:link.action action="show" arguments="{konzert : konzert}"> {konzert.leitunL}</f:link.action></td>
			<td><f:link.action action="show" arguments="{konzert : konzert}"> {konzert.zusagen}</f:link.action></td>
			<td><f:link.action action="show" arguments="{konzert : konzert}"> {konzert.absagen}</f:link.action></td>
			<td><f:link.action action="show" arguments="{konzert : konzert}"> {konzert.vielleichts}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{konzert : konzert}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{konzert : konzert}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Konzert</f:link.action>
</f:section>