
<label for="ja">
	<f:translate key="tx_voices_domain_model_part.ja" />
</label><br />
	<f:form.checkbox property="ja" value="1" /><br />
<label for="nein">
	<f:translate key="tx_voices_domain_model_part.nein" />
</label><br />
	<f:form.checkbox property="nein" value="1" /><br />
<label for="vielleicht">
	<f:translate key="tx_voices_domain_model_part.vielleicht" />
</label><br />
	<f:form.checkbox property="vielleicht" value="1" /><br />
<label for="comment">
	<f:translate key="tx_voices_domain_model_part.comment" />
</label><br />
	<f:form.textfield property="comment" /><br />