
<table class="tx-voices" >
	<tr>
		<td>
			<f:translate key="tx_voices_domain_model_part.ja" />
		</td>
		<td>
		{part.ja}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_voices_domain_model_part.nein" />
		</td>
		<td>
		{part.nein}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_voices_domain_model_part.vielleicht" />
		</td>
		<td>
		{part.vielleicht}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_voices_domain_model_part.comment" />
		</td>
		<td>
		{part.comment}
		</td>
	</tr>
</table>